*,*:focus,.btn,.btn:focus{
	outline: 0!important;
	text-decoration: none;
}
a, button, input{
	outline: 0;
	border: 0;
	-ms-transition: all .3s ease;
	-webkit-transition: all .3s ease;
	transition: all .3s ease;
}
a, a:hover, a:focus, button:hover, button:focus{
	text-decoration: none;
	outline: 0;
}
body {
	background: #fff;
	color: #000;
	font-size: 22px;
	line-height: 1.2;
	font-family: 'Montserrat-Regular';
	background: url(assets/images/body-bg.jpg);
}
img{
	max-width: 100%;
	height: auto;
}
.ulc{
	margin: 0;
	padding: 0;
	list-style: none;
}
.overlay-link{
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	z-index: 10;
}
.container{
	max-width: 1200px;
	width: 100%;
}
.hide-md{
	display: block!important;
}
.show-md{
	display: none!important;
}
.hide-sm{
	display: block!important;
}
.show-sm{
	display: none!important;
}
.hide-xs{
	display: block!important;
}
.show-xs{
	display: none!important;
}
.gap-15{
	height: 15px;
	clear: both;
}
.gap-20{
	height: 20px;
	clear: both;
}
.gap-25{
	height: 25px;
	clear: both;
}
.gap-30{
	height: 30px;
	clear: both;
}
.gap-35{
	height: 35px;
	clear: both;
}
.gap-40{
	height: 40px;
	clear: both;
}
.gap-45{
	height: 45px;
	clear: both;
}
.gap-50{
	height: 50px;
	clear: both;
}
.gap-55{
	height: 55px;
	clear: both;
}
.gap-60{
	height: 60px;
	clear: both;
}
.dft-sec-bg{
	background-size: cover!important;
	background-position: center center!important;
	background-repeat: no-repeat!important;
}
.beauty-seekers-img{
	text-align: center;
}
p{
	margin-bottom: 26px;
}
a{
	word-wrap: break-word;
}
.plr-30{
	padding-left: 30px!important;
	padding-right: 30px!important;
}
.plr-10{
	padding-left: 10px!important;
	padding-right: 10px!important;
}
.hh-page-bdy-controller{
	max-width: 1170px;
	margin: 0 auto;
	background: #ffffff;
}
.hh-page-bdy-controller{
	-webkit-box-shadow: 0px 5px 12px 0px rgba(180,179,179,1);
	-moz-box-shadow: 0px 5px 12px 0px rgba(180,179,179,1);
	box-shadow: 0px 5px 12px 0px rgba(180,179,179,1);
}
h1{
	font-size: 55px
}
h2{
	font-size: 36px
}
h3{
	font-size: 24px
}
.hh-fxd-hdr{
	background: #fff;
	-ms-transition: all 0.5s ease;
	-webkit-transition: all 0.5s ease;
	transition: all 0.5s ease;
	-ms-box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
	-webkit-box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
	box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
	position: relative;
    z-index: 5;
}
.header {
}
.header-innr{
	background: #fff;
	padding: 12px 0;
}
.hdr-left,.hdr-rgt{
	width:50%;
	float: left;
}
.hdr-left{
	padding-right: 30px;
}
.hdr-rgt{
	text-align: right;
}
.hh-fxd-hdr .hdr-logo,.hh-fxd-hdr .secure-img,.header .hdr-logo,.header .secure-img{
	display: inline-block;
	vertical-align: baseline;
	max-width: 160px;
}
.hh-fxd-hdr .secure-img,.header .secure-img{
	max-width: 225px;
}
.hh-fxd-hdr img,.header img{
	width:100%;
}

.hh-shipping {
    padding-bottom: 25px;
    background: #fff;
    box-sizing: border-box;
    position: relative;
}

.hh-shipping img{
	display:inline-block; 
	position:relative; 
	top:40px;
	max-width: 57px;
	width:100%;
}
.hh-shipping .two_sec img{
	top:34px;
	max-width: 71px;
	width:100%;
}
.hh-shipping-col{
	width:33.333%;
	float: left;
	padding-left: 7px;
	padding-right: 7px;
}

.hh-shipping h4 {
    color: #000;
  	font-family: 'Montserrat-Bold';
    text-transform: uppercase;
    font-size: 24px;
    margin-top: 56px;
    width: 100%;
}
.hh-shipping .two_sec > h4 {
    font-family: Montserrat-Bold;
    margin-top: 42px;
}
.hh-shipping:before {
    content: "";
    height: 14px;
    width:100%;
    position: absolute;
    background: #f39620;
    left: 0;
    right:0;
    border-radius: 50px;
   /* box-shadow: inset 0px 0px 10px 0px rgba(0, 0, 0, 0.07);
    */top: 63px;
}




.dft-text-module p span{
	background-size: 100% 100%!important;
	background-repeat: no-repeat!important;
    background-position: center center;
    background-size: contain;
    display: inline-block;
    vertical-align: baseline;
     font-family: 'Montserrat-SemiBold';
     color: #000;
     padding: 2px 20px 4px 15px;
}

.special-offer-con {
	background-repeat: no-repeat !important;
	background-size: cover !important;
	background-position: center center !important;
	text-align: center;
	padding: 40px 118px 35px;
	color: #fff;
	margin-left: -15px;
	margin-right: -15px;
}
.hh-special-offer-sec-grd{
	max-width: 844px;
	width: 100%;
	margin: 0 auto;
}
.hh-special-offer-sec-grd ul li{
	float: left;
	width: 33.3333%;
	padding: 0 20px 30px;
}
.hh-special-offer-sec-grd ul li:nth-child(3n+1){
	clear: left;
}
.hh-special-offer-sec-grd-col{
	text-align: center;
}
.hh-special-offer-sec-grd-col-img{
	height: 190px;
	max-width: 205px;
	border: 8px solid #567b7d;
	background-position: center center!important;
	background-repeat: no-repeat!important;
	background-size: cover!important;
	margin: 0 auto 15px;
}
.hh-special-offer-sec-grd-col strong{
	font-size: 36px;
	line-height: 36px;
	display: block;
	color: #ffd79e;
	font-weight: 600;
  	font-family: 'calisMTbol';
  	text-shadow: 7px 3px 6px rgba(2,33,34,0.6);
}
.special-offer-con > strong{
	display: block;
	font-size: 30px;
	line-height: 33px;
	font-weight: normal;
	font-family: 'calisMTbol';
	margin-bottom: 25px;
}



.special-offer-con h3{
	font-family: 'Montserrat-SemiBoldItalic';
	font-size: 28px;
	line-height: 32px;
	margin-top: 0;
	margin-bottom: 30px;
}
.special-offer-con h1{
	font-family: 'Calisto MT';
	color:#ffde6b;
	margin-top: 0;
	margin-bottom: 55px;
	text-shadow: 1px 3px 4px #000;
}

.special-offer-con span{
	font-family: 'Montserrat-Medium';
	font-size: 24px;
	display: inline-block;
	vertical-align: baseline;
	margin-bottom: 0;
}
.hh-conversation-sec{
	padding-top: 50px;
	position: relative;
	overflow: hidden;
}
.hh-conversation-sec:after {
	content: "";
	position: absolute;
	background: url(assets/images/vertical-line-img.png);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 100% auto;
	top: 50px;
	right: -25px;
	width: 41px;
	height: 772px;
	z-index: 3;
	bottom: 48px;
}
.conversation-main{
	padding-right: 582px;
	position: relative;
}
.conversation-dsc{
	padding-bottom: 18px;
	position: relative;
	z-index: 5;
}
.conversation-img {
	position: absolute;
	background-repeat: no-repeat !important;
	background-position: center center !important;
	top: 0;
	right: -25px;
	bottom: 58px;
	left: 30%;
	z-index: 2;
}

.hh-health-risks-sec{
	background-repeat: no-repeat !important;
	background-size: cover !important;
	background-position: center center !important;
	border-radius: 0 0 10px 10px;
}
.hh-health-risks-sec .health-risks-head {
	padding: 10px 15px 15px;
	text-align: center;
	color: #fff;
	font-family: 'Calisto MT';
	overflow: hidden;
	position: relative;
	margin-left: -25px;
	margin-right: -25px;
}
.health-risks-head-bg {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background-repeat: no-repeat !important;
	background-size: cover !important;
	background-position: center bottom -4px!important;
	z-index: 1;
	border-radius: 8px;
}
.hh-health-risks-sec .health-risks-head h2{
	font-family: 'Calisto MT';
	margin-top: 0;
	position: relative;
	z-index: 2;
}
.health-risks-dsc{
	padding-top: 35px;
}
.health-risks-grd-wrp {
	text-align: center;
	padding-top: 42px;
	padding-bottom: 10px;
}
.health-risks-grd-wrp li {
	width: 25%;
	float: left;
	padding-left: 10px;
	padding-right: 10px;
	margin-bottom: 57px;
}
.health-risks-grd-wrp li:nth-child(4n+1){
	clear: left;
}
.health-risks-img-wrp{
	position: relative;
}
.health-risks-img{
	border:3px solid #fff;
	width: 160px;
	height: 160px;
	border-radius: 100% ;
	margin: 0 auto;
	background-repeat: no-repeat !important;
	background-size: cover !important;
	background-position: center center !important;
	-webkit-box-shadow: 0px 0px 25px -7px rgba(0,0,0,0.75);
	-ms-box-shadow: 0px 0px 25px -7px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 25px -7px rgba(0,0,0,0.75);
}
.health-risks-grd-wrp li span{
	font-family: 'Montserrat-Bold';
	display: inline-block;
	vertical-align: baseline;
	margin-top: 12px;
	color: inherit;
	font-size: 21px
}
.health-risks-grd-wrp li:last-child{
	width:50%;
	text-align: center;
}
.health-risks-grd-wrp li:last-child span {
	padding: 0 45px;
	margin-top: 72px;
	margin-bottom: 15px;
	position: relative;
	margin-left: 30px;
}
.health-risks-grd-wrp li:last-child span:after{
	content: "";
	position: absolute;
	background:url(assets/images/hh-more-issue-ico.png);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 100% auto;
	top: 0;
	left:0;
	width:26px;
	height: 26px;
	z-index: 1;
}
.smile-img-02{
	margin-left: -25px;
	padding-top: 10px;
}
.hh-content-sec-7-wrp{
	padding-top: 50px;
	padding-bottom: 40px;
}
.hh-content-sec-7-wrp .hh-line-headding{
	padding-bottom: 35px;
}
.hh-line-headding {
	text-align: center;
	padding-bottom: 40px;
}
.hh-remove-line-headding{
	text-align: center;
	padding-bottom: 30px;
}
.hh-line-headding h2,
.hh-remove-line-headding h2{
	margin: 0;
	line-height: 44px;
	font-family: 'Calisto MT';
	margin-bottom: 7px;
	color: #27002f;
}
.hh-remove-line-headding h2{
	margin-bottom: 0;
}
.phyto-3-sec.dft-arrow-section .hh-remove-line-headding h1{
	margin-bottom: 0;
}
.hh-line-headding span{
	display: inline-block;
	vertical-align: baseline;
	padding-left: 15px;
	padding-right: 15px;
}
.hh-two-grid-rgt-dsc strong {
	display: inline-block;
	vertical-align: baseline;
	font-size: 22px;
	line-height: 26px;
	font-weight: normal;
	font-family: 'Montserrat-SemiBold';
	margin-bottom: 20px;
	padding-left: 15px;
	padding-top: 2px;
	padding-bottom: 5px;
	padding-right: 20px;
	background-size: 100% 100%!important;
}
.hh-two-grid-rgt-dsc p{
	padding-left: 15px;
}
.hh-content-sec-7-wrp .hh-two-grid-lft-img img{
	width: 100%;
}
.hh-content-sec-8-wrp .hh-two-grid-rgt-dsc p {
	padding-left: 0;
}
.hh-content-sec-8-wrp{
	padding-top: 50px;
	position: relative;
	background-size: cover!important;
}
.hh-content-sec-8-wrp > span{
	display: inline-block;
	vertical-align: baseline;
	background: transparent;
}
.left-bg-expend-img{
	background-repeat: no-repeat!important;
	margin-left: -25px;
	padding-top: 40px;
}
.hh-content-sec-8-wrp > span:first-of-type {
	position: absolute;
	right: 0;
	top: -162px;
	z-index: 1;
	background: transparent;
}
.hh-content-sec-8-wrp > span:last-of-type {
	position: absolute;
	left: 0;
	bottom: -155px;
	z-index: 1;
	background: transparent;
}
.hh-title-headding h2{
	margin: 0;
	text-align: center;
	line-height: 42px;
	font-family: 'Calisto MT';
	text-transform: capitalize;
	margin-bottom: 25px;
	color: #27002f;
}
.hh-flt-rgt-img{
	float: right !important;
}
.hh-two-grid-rgt-img{
	padding-right: 50px;
}
.message-box{
	margin-top: 50px;
	margin-bottom: 0!important;
	background-position: center center!important;
}
.message-box h2{
	margin: 0;
	color: #fff;
	text-align: center;
	font-family: 'Calisto MT';
	padding:15px 100px;
	background-size: 100% 100%!important;
}
.hh-content-sec-8-wrp .hh-two-grid-lft-img img{
	min-height: 445px;
}
.hh-content-sec-9-wrp{
	padding-top: 40px;
	padding-bottom: 50px;
}
.hh-fluid-img{
	text-align: center;
	padding-top: 30px;
	padding-bottom: 40px;
}
.hh-content-sec-9-wrp .hh-two-grid-rgt-dsc p span{
	display: inline-block;
	vertical-align: baseline;
	padding-top: 5px;
	padding-bottom: 10px;
	padding-right: 10px;
	padding-left: 15px;
	padding: 5px 10px 7px 15px;
	margin-left: -15px;
	font-family: 'Montserrat-SemiBold';
	background-repeat: no-repeat;
	background-position: center center;
	background-size: contain;
}
.mrg-lft{
	margin-left: -25px;
}
.hh-content-sec-9-wrp .hh-two-grid-lft-img img{
	height: 560px;
}
.hh-content-sec-9-wrp .hh-two-grid-lft-img{
	margin-top: -15px;
	margin-right: -15px;
}
.hh-offering-hug-sec{
	padding: 45px 0 25px;
}
.hh-offering-hug-sec .hh-line-headding{
	padding-bottom: 35px;
}
.hh-offering-hug-img-col{
	text-align: center;
	padding-top: 35px;
}
.dft-multiline-bg p{
	margin-bottom: 0;
}
.dst-ml-15{
	margin-left: -15px;
}
.hh-ftr-top-links-sec{
	text-align: center;
}
.hh-ftr-top-links-sec strong{
	display: block;
	text-decoration: underline;
	color: #203ca4;
	font-family: 'Montserrat-SemiBold';
	padding-bottom: 50px;
	font-size: 18px;
	line-height: 22px;
}
.hh-ftr-top-links-sec ul li a{
	color: #000000;
}
.hh-ftr-top-links-sec ul li{
	padding-bottom: 45px;
}
.hh-ftr-top-links-sec ul li sup{
	display: inline-block;
	vertical-align: baseline;
	padding-right: 4px;
}
.hh-pkg-sec-ftr-des{
	padding-top: 65px;
	text-align: left;
	padding-bottom: 24px;
}
.pkg-area-con{
}
.pkg-area-con-bg{
	padding: 60px 0 50px;
	background-size: cover!important;
	background-position: center center;
}
.hh-pkg-sec-hdr{
	text-align: center;
	color: #fff;
}
.hh-pkg-sec-hdr h2{
    font-family: 'calisMTbol';
	margin-bottom: 75px;
	margin-top: 0;
}
.hh-pkg-grd-controller > ul > li{
	float: left;
	width: 33.333%;
	padding: 0 6px;
}
.hh-pkg-grd-col-btm-bdr{
	background: #097298;
	border-radius: 8px;
	padding-bottom: 4px;
}
.hh-pkg-grd-col{
	padding-bottom: 5px;
	position: relative;
}
.hh-pkg-grd-controller > ul > li:nth-child(2) .hh-pkg-grd-col-btm-bdr{
	margin-top: -45px;
}
.hh-pkg-grd-controller > ul > li:nth-child(2) .hh-pkg-grd-col-btm-bdr{
	background: #d50001;
}
.hh-pkg-grd-controller > ul > li:nth-child(3) .hh-pkg-grd-col-btm-bdr{
	background: #7523c6;
}
.hh-pkg-grd-controller > ul > li:nth-child(2) .hh-pkg-grd-col{
	padding-bottom: 10px;
}
.hh-pkg-grd-controller > ul > li:nth-child(2) .hh-pkg-grd-ftr ul{
	padding-top: 10px;
}
.hh-pkg-grd-controller > ul > li:nth-child(2) .hh-pkg-price{
	margin-bottom: 20px;
}
.hh-pkg-grd-controller > ul > li:nth-child(2) .hh-pkg-grd-col-fea-img{
	padding-bottom: 20px;
	padding-top: 25px;
}
.hh-pkg-grd-controller > ul > li:nth-child(2) .hh-pkg-grd-ftr{
	padding-top: 25px;
}
.hh-pkg-grd-col-hdr{
	border-radius: 5px 5px 0 0;
}
.hh-pkg-grd-col-hdr span,.hh-pkg-grd-col-hdr strong{
	display: block;
}
.hh-pkg-grd-col-hdr{
	text-transform: uppercase;
	text-align: center;
	color: #fff;
	background-repeat: repeat-x!important;
	background-size: cover!important;
}
.hh-pkg-grd-col-hdr span{
	font-size: 32px;
	line-height: 36px;
	font-family: 'BarlowCondensed-Bold';
	padding: 20px 10px 30px;
	background-repeat: repeat-x!important;
	border-radius: 5px 5px 0 0;
}
.hh-pkg-grd-col-hdr strong{
	padding: 0 10px 12px 10px;
	font-size: 40px;
	line-height: 45px;
	font-family: 'BarlowCondensed-Bold';
	text-shadow: 0px 2px #595653;
}
.hh-pkg-grd-col-fea-img{
	margin: 0 auto;
	position: relative;
	display: table;
	padding: 15px;
}
.hh-pkg-grd-col-fea-img div{
	display: inline-block;
	vertical-align: baseline;
}
.hh-pkg-grd-col-fea-img span{
	position: absolute;
	right: 15px;
	top: 13px;
}
.hh-pkg-grd-col{
	background: #f7f7f7;
	border: 3px solid #fff;
	border-radius: 8px;
}
.hh-pkg-price{
	position: relative;
	text-align: center;
	display: inline-block;
	vertical-align: baseline;
	padding: 0 76px 0 28px;
	margin-bottom: 10px;
}
.hh-pkg-price:before {
	content: "$";
	position: absolute;
	left: -2px;
	top: -13px;
	font-size: 50px;
	line-height: 100%;
	font-family: 'Barlow-Bold';
	margin-right: 2px;
}
.hh-pkg-price:after{
	content: "";
	position: absolute;
	width: 7px;
	height: 7px;
	background: #000;
	border-radius: 100%;
	font-family: 'Barlow-Bold';
	margin-right: 2px;
	right: 63px;
	top: 50%;
	transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
}
.hh-pkg-price strong {
	font-size: 70px;
	line-height: 58px;
	font-weight: normal;
	font-family: 'Barlow-Bold';
	display: inline-block;
}
.hh-pkg-price sup {
	position: absolute;
	right: 16px;
	font-size: 40px;
	font-family: 'Barlow-Bold';
	top: -1px;
	line-height: 100%;
}
.hh-pkg-price sub {
	position: absolute;
	right: 3px;
	font-size: 40px;
	bottom: 9px;
	font-family: 'BarlowCondensed-Regular';
}
.hh-creditcards{
	padding-left: 8px;
	padding-top: 5px;
}
.hh-footer-wrap{
	background-color: #1c1e1e;
	color: #fff;
	text-align: center;
	padding: 35px 0 32px;
	font-size: 14px;
	line-height: 19px;
}
.hh-footer-wrap p{
	font-size: 14px;
	line-height: 19px;
	margin-bottom: 0;
}
.hh-ftr-nav ul{
	padding-bottom: 15px;
}
.hh-ftr-nav ul li,.hh-ftr-nav ul li a{
	display: inline-block;
	vertical-align: baseline;
}
.hh-ftr-nav ul li:first-child{
	padding-left: 0;
}
.hh-ftr-nav ul li:last-child{
	padding-right: 0;
}
.hh-ftr-nav ul li a{
	color: inherit;
}
.hh-ftr-nav ul li a:hover,.hh-ftr-top-links-sec ul li a:hover{
	opacity: .7;
}
.hh-pkg-grd-ftr{
	padding-left: 30px;
	padding-right: 5px;
	padding-top: 20px;
}
.hh-add-to-cart-btn-img{
	margin-bottom: 15px;
}

.hh-add-to-cart-btn-img a{
	display: inline-block;
	vertical-align: baseline;
}
.hh-pkg-grd-ftr ul li{
	position: relative;
	padding: 3px 0 15px 40px;
	font-size: 16px;
	line-height: 18px;
	text-transform: uppercase;
	font-family: 'Barlow-Medium';
}
.hh-pkg-grd-ftr ul li em{
	position: absolute;
	left: 0;
	top: 0;
}
.hh-copyright{
	padding-bottom: 15px;
}
.hh-ftr-nav ul li{
	padding: 0 25px;
	position: relative;
}
.hh-ftr-nav ul li:not(:last-child):after{
	content: "";
	width: 1px;
	height: 14px;
	position: absolute;
	left: 100%;
	margin-left: -1px;
	background: #fff;
	top: 50%;
	transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
}
.hh-ftr-des{
	padding: 0 51px;
}
.hh-content-sec-9-wrp .hh-two-grid-rgt-img {
	padding-right: 0;
	margin-top: -20px;
	margin-left: -15px;
}

.dft-sky-bg-sec{
	padding-top: 40px;
	padding-bottom: 25px;
	margin-bottom: 55px;
}

.dft-testi-review-sec-headding{
	text-align: center;
	color: #fff;
	padding: 15px 15px 17px;
	background-size: 100% 100%!important;
	background-repeat: no-repeat!important;
	margin-bottom: 75px;
}
.dft-testi-review-sec-headding h2{
	margin: 0;
	font-weight: 600;
	font-family: 'calisMTbol';
}
.dft-blockquote-row-items{
	padding-bottom: 15px;
}
.dft-blockquote-row-item{
	padding-bottom: 35px;
}
.dft-blockquote-row-item blockquote{
	background-color: #fbfbfb;
	padding: 0;
	border: none;
	-webkit-box-shadow: 6px 7px 4px -4px rgba(209,209,209,1);
	-moz-box-shadow: 6px 7px 4px -4px rgba(209,209,209,1);
	box-shadow: 6px 7px 4px -4px rgba(209,209,209,1);
	position: relative;
	margin-bottom: 30px;
	background-position: center 15px!important;
	background-repeat: no-repeat!important;
}
.dft-blockquote-row-item blockquote em{
	display: block;
	position: relative;
	font-style: normal;
	padding: 25px 40px 20px 28px;
	font-family: 'MontserratItalic';
	font-size: 22px;
	line-height: 28px;
}


.dft-blockquote-row-item blockquote em:after{
	content: "";
	background: url(assets/images/polygon-btm.png);
	background-repeat: no-repeat;
	background-position: center top;
	left: 60px;
	right: -2px;
	width: 27px;
	height: 24px;
	position: absolute;
	top: 100%;
	z-index: 3;
}
.dft-blockquote-ftr{
	padding: 0 0 0 30px;
}
.dft-blockquote-ftr span{
	display: inline-block;
	vertical-align: baseline;
	font-family: 'Montserrat-Medium';
	font-size: 22px;
	line-height: 24px;
	color: #000;
}
.dft-blockquote-ftr span strong{
	font-weight: normal;
	  font-family: 'Montserrat-Bold';
	  display: inline-block;
	  vertical-align: baseline;
}
.dft-blockquote-ftr em {
    display: inline-block;
    vertical-align: baseline;
    position: relative;
    top: -5px;
    margin-left: 18px;
}
.dft-arrow-section{
	background-size: cover!important;
	padding: 45px 0 0 0;
	position: relative;
}
.dft-arrow-section > span{
	display: inline-block;
	vertical-align: baseline;
}
.dft-arrow-section > span:first-of-type{
	position: absolute;
    right: 0;
    top: -162px;
    z-index: 5;
    background: transparent;
}
.dft-arrow-section > span:last-of-type {
    position: absolute;
    left: 0;
    bottom: -155px;
    z-index: 5;
    background: transparent;
}
.dft-arrow-section-img-01{
	text-align: center;
	padding-bottom: 15px;
}
.dft-arrow-section .hh-remove-line-headding h1{
	font-size: 50px;
	line-height: 52px;
    font-family: 'Calisto MT';
    margin: 0 0 25px 0;
}
.dft-arrow-section-img-02{
	position: absolute;
	left: -10px;
	bottom: 0;
	width: 70%;
	z-index: 1;
}
.dft-arrow-section .dft-text-module{
	position: relative;
	z-index: 2;
}
.dft-arrow-section .col-md-6{
	position: static;
}
.dft-arrow-section .row{
	position: relative;
}

.potatovegetablesroot-img{
	text-align: center;
	padding-top: 14px;
}
.dft-beauty-seekers-sec{
	padding: 45px 0 15px;
	position: relative;
}
.dft-beauty-seekers-sec .arrow-left-top{
	position: absolute;
    left: 0;
    top: -155px;
    z-index: 5;
    background: transparent;
}
.dft-beauty-seekers-sec .arrow-right-btm{
	position: absolute;
    right: 0;
    bottom: -162px;
    z-index: 5;
    background: transparent;
}

.dft-sucking-test-sec{
	position: relative;
	padding: 40px 0 0;
}

.dft-sucking-test-sec-hdr{
	text-align: center;
}
.dft-sucking-test-sec-col-img{
	margin-left: -25px;
}
.dft-sucking-test-sec-bg-hdr{
	text-align: center;
	color: #fff;
	background-repeat: no-repeat!important;
	background-size: 100% 100%;
	padding: 15px 40px 10px;
	margin-bottom: 20px;
}
.dft-sucking-test-sec-bg-hdr h2{
	margin: 0;
}
.dft-sucking-test-sec-hdr h1{
	font-size: 50px;
	line-height: 55px;
	margin-top: 0;
	margin-bottom: 40px;
	font-family: 'Calisto MT';
}
.dft-sucking-test-sec .arrow-left-top{
	position: absolute;
    right: 0;
    top: -162px;
    z-index: 5;
    background: transparent;
}
.dft-sucking-test-sec .arrow-right-btm{
	position: absolute;
    left: 0;
    bottom: -155px;
    z-index: 5;
    background: transparent;
}

@media(max-width: 1199px){
	.hide-md{
		display: none!important;
	}
	.show-md{
		display: block!important;
	}
	.hh-two-grid-rgt-dsc strong br{
		display: none;
	}
	.hh-two-grid-rgt-dsc strong{
		font-size: 20px;
		line-height: 1.3;
	}
	.hh-two-grid-rgt-dsc p {
		font-size: 20px;
		line-height: 1.3;
	}
	.hh-content-sec-7-wrp .hh-two-grid-rgt-dsc p:last-of-type{
		margin-bottom: 0;
	}
	.hh-content-sec-7-wrp .hh-two-grid-rgt-dsc{
		position: relative;
		z-index: 2;
	}
	.hh-title-headding h2 br,.hh-line-headding h2 br{
		display: none;
	}
	.message-box h2 {
		padding: 15px 20px;
	}
	.hh-line-headding {
		max-width: 750px;
		margin-left: auto;
		margin-right: auto;
	}
	.hh-title-headding {
		max-width: 600px;
		margin: 0 auto;
	}
	.hh-content-sec-8-wrp span:first-of-type{
		top: -155px;
	}
	.hh-pkg-grd-col-fea-img span{
		right: 20px;
	}
	.hh-creditcards{
		padding-left: 0;
	}
	.dft-sucking-test-sec-hdr h1 {
	    font-size: 36px;
	    line-height: 41px;
	}
}
@media(max-width: 1099px){
	.conversation-main {
		padding-right: 429px;
		position: relative;
	}
	.special-offer-con {
		padding: 38px 60px 55px;
	}
	.hh-pkg-grd-col-fea-img div{
		height: 270px;
	}
	.hh-pkg-grd-col-fea-img div img{
		max-height: 270px;
	}
}
@media(max-width: 1024px){
	.left-bg-expend-img{
		background-position: -160px 40px!important;
	}	
}
@media(max-width: 991px){
	.hide-sm{
		display: none!important;
	}
	.show-sm{
		display: block!important;
	}
	h1{
		font-size: 42px
	}
	h2{
		font-size: 30px
	}
	h3{
		font-size: 24px
	}
	.hh-shipping h4 {
	    font-size: 18px;
	}
	.conversation-main {
		padding-right: 429px;
		position: relative;
	}
	.special-offer-con h3 {
		font-size: 20px;
	}
	.special-offer-con {
		padding: 38px 15px 55px;
	}
	.conversation-main {
		padding-right: 370px;
		position: relative;
	}
	.health-risks-grd-wrp li:last-child{
		padding-left: 20px;
	}
	.health-risks-grd-wrp li:last-child span {
		padding: 0 10px;
	}
	.health-risks-grd-wrp li:last-child span:after {
		left: -28px;
	}
	.health-risks-grd-wrp li:last-child span::after {
		left: -22px;
		width: 20px;
		height: 20px;
	}
	.hh-two-grid-rgt-img{
		padding-bottom: 20px;
	}
	.hh-content-sec-9-wrp .hh-two-grid-rgt-img img {
		height: auto;
	}
	.hh-content-sec-9-wrp .hh-two-grid-lft-img img {
		height: auto;
	}
	.hh-title-headding h2,.hh-line-headding h2{
		line-height: 35px;
	}
	.pkg-area-con-bg{
		padding-top: 40px;
	}
	.special-offer-con > strong br{
		display: none;
	}
	.hh-special-offer-sec-grd-col strong {
	    font-size: 30px;
	    line-height: 33px;
	}
	.hh-line-headding h2, .hh-remove-line-headding h2{
		line-height: 1.2;
	}
	.dft-arrow-section-img-02{
		position: static;
		text-align: center;
		width: auto;
		padding-bottom: 25px;
	}
	.dft-sucking-test-sec .arrow-left-top,
	.dft-sucking-test-sec .arrow-right-btm,
	.dft-beauty-seekers-sec .arrow-left-top,
	.dft-beauty-seekers-sec .arrow-right-btm,
	.dft-beauty-seekers-sec .arrow-left-top,
	.dft-beauty-seekers-sec .arrow-right-btm,
	.dft-arrow-section > span:first-of-type,
	.dft-arrow-section > span:last-of-type{
		display: none;
	}
}
@media(max-width: 900px){

	.hh-pkg-grd-controller ul{ 
		display: flex; 
		flex-direction: column; 
	}
	.order2{ order: 2; }
	.order1 { order: 1; }
	.order3{ order: 3; }
	.hh-pkg-grd-controller > ul > li{
		max-width: 100%;
		width: 100%;
		margin-bottom: 20px;
	}
	.hh-pkg-grd-col-btm-bdr{
		max-width: 370px;
		margin: 0 auto;
	}	
	.hh-pkg-grd-controller > ul > li:nth-child(2) .hh-pkg-grd-col-btm-bdr{
		margin-top: 0;
	}
	.hh-pkg-sec-hdr h2{
		margin-bottom: 40px;
	}
	.hh-pkg-grd-col-fea-img div{
		height: initial;
	}
	.hh-pkg-grd-col-fea-img div img{
		max-height: initial;
	}
}

@media (max-width: 830px)}{
	.hh-shipping h4 {
	    font-size: 16px;
	}
}
@media(max-width: 770px){
	.col-sm-6 {
    	width: 100%!important;
	}
	.hide-xs{
		display: none!important;
	}
	.show-xs{
		display: block!important;
	}
	h1 {
		font-size: 30px;
	}
	h2 {
		font-size: 25px;
	}
	.dft-sucking-test-sec-hdr h1 {
	    font-size: 30px;
	    line-height: 1;
	}
	.dft-sucking-test-sec-hdr h1 br{
		display: none;
	}
	p {
		margin-bottom: 20px;
		font-size: 20px;
		line-height: 1.3;
	}

	.conversation-main {
		padding-right: 0;
	}
	.conversation-img {
		position: static;
		min-height: 335px;
		background-size: cover!important;
	}
	.hh-conversation-sec:after {
		content: none;
	}
	.conversation-dsc {
		padding-bottom: 35px;
	}
	.special-offer-con h3 {
		font-size: 20px;
		line-height: 1.3;
	}
	.special-offer-con h3 {
		margin-bottom: 25px;
	}
	.special-offer-con h1 {
	    margin-bottom: 30px;
	    font-size: 32px;
	    line-height: 1.3;
	}
	.special-offer-con span {
		font-size: 20px;
		line-height: 1.3;
	}
	.health-risks-grd-wrp li {
		width: 33.333%;
	}
	.health-risks-grd-wrp li:nth-child(4n+1){
		clear: initial;
	}
	.health-risks-grd-wrp li:nth-child(3n+1){
		clear: left;
	}
	.health-risks-grd-wrp li:last-child{
		width:66.66%;
	}
	.health-risks-grd-wrp li:last-child span {
		padding: 0 15px;
	}
	.hh-two-grid-lft-img{
		padding-bottom: 20px;
		text-align: center;
	}
	.hh-two-grid-rgt-dsc p {
		padding-left: 0;
	}
	.hh-flt-rgt-img {
		float: none !important;
		text-align: center;
	}
	.hh-two-grid-rgt-img {
		padding-right: 0;
	}
	.mrg-lft {
		margin-left: 0;
	}
	.hh-two-grid-rgt-dsc{
		position: relative;
		z-index: 2;
		padding-left: 0;
		padding-top: 25px;
	}
	.hh-content-sec-9-wrp{
		padding-left: 10px;
		padding-right: 10px;
	}
	.hh-two-grid-lft-img img, .hh-two-grid-rgt-img img{
		width: auto;
	}
	.left-bg-expend-img{
		margin-left: 0;
	}
	.hh-content-sec-8-wrp .hh-two-grid-lft-img img {
		min-height: auto;
	}
	.hh-content-sec-8-wrp span:first-of-type{
		z-index: 0;
		width: 70px;
		top: -92px;
	}
	.hh-content-sec-8-wrp span:last-of-type{
		width: 70px;
		bottom: -94px;
		z-index: 0;
	}
	.hh-content-sec-9-wrp .hh-two-grid-rgt-img img {
		height: auto;
	}
	.hh-content-sec-9-wrp .hh-two-grid-rgt-img {
		margin-top: 0;
	}
	.message-box {
		margin-top: 30px;
		margin-bottom: 30px;
	}
	.hh-content-sec-9-wrp .hh-two-grid-lft-img img {
		height: auto;
	}
	.hh-content-sec-9-wrp {
		padding-top: 30px;
		padding-bottom: 30px;
	}
	.hh-title-headding {
		max-width: 500px;
	}
	.hh-title-headding h2,.hh-line-headding h2{
		line-height: 30px;
	}
	.message-box h2 {
		padding: 15px 10px;
	}
	.hh-offering-hug-img-col{
		padding-bottom: 20px;
	}
	.hh-pkg-grd-controller > ul > li{
		width: 100%;
		margin-bottom: 20px;
	}
	.hh-pkg-grd-controller > ul > li:nth-child(2) .hh-pkg-grd-col-btm-bdr {
		margin-top: 0;
	}
	.hh-pkg-grd-ftr {
		padding-left: 31px;
		padding-right: 5px;
		max-width: 350px;
		margin: 0 auto;
	}
	.hh-pkg-sec-hdr h2 {
		margin-bottom: 40px;
	}
	.left-bg-expend-img{
		background: transparent!important;
	}
	.conversation-dsc{
		padding-top: 20px;
	}
	.conversation-img{
		background: transparent!important;
	}
	.conversation-img-xs{
		margin-right: -25px;
		position: relative;
	}
	.conversation-img-xs:after{
		content: "";
		position: absolute;
		background: url(assets/images/vertical-line-img.png);
		background-repeat: no-repeat;
		background-position: center center;
		background-size: 100% auto;
		top: 10%;
		right: -25px;
		width: 41px;
		height: 85%;
		z-index: 3;
		bottom: 48px;
	}
	.hh-conversation-sec{
		padding-top: 0;
	}
	.health-risks-grd-wrp li:last-child {
		padding-left: 25px;
	}
	.hh-content-sec-8-wrp span:first-of-type,.hh-content-sec-8-wrp span:last-of-type{
		display: none;
	}
	.hh-content-sec-8-wrp{
		background-size:auto!important;
		background-position: center;
		padding-bottom: 20px;
	}
	.hh-content-sec-9-wrp .hh-two-grid-lft-img {
		margin-top: 0;
		margin-right: 0;
	}
	.hh-special-offer-sec-grd ul li{
		width: 100%;
		padding-left: 0;
		padding-right: 0;
		float: none;
	}
	.special-offer-con > strong{
		font-size: 28px;
		line-height: 30px;
	}
	.dft-sucking-test-sec-bg-hdr h2 br{
		display: none;
	}
	.dft-sucking-test-sec-bg-hdr {
	    background-size: cover!important;
	    background-position: center center;
	    padding-left: 15px;
	    padding-right: 15px;
	    margin-left: -10px;
	    margin-right: -10px;
	}
	.dft-sucking-test-sec-col-img {
	    margin-left: 0;
	    text-align: center;
	}
	.hh-health-risks-sec .health-risks-head h2{
		margin-bottom: 0;
	}
	.hh-health-risks-sec .health-risks-head h2 br{
		display: none;
	}
	.hh-line-headding h2, .hh-remove-line-headding h2{
		line-height: 1.2;
	}
}
@media(max-width: 767px){
	.hair-style-img,.beauty-seekers-img,
	.potatovegetablesroot-img,
	.smile-couple-img,
	.smile-img-02{
		text-align: center;
		margin-bottom: 25px;
	}
	.smile-img-02{
		margin-left: 0;
	}
	.dft-testi-review-sec-headding{
		background-size: cover!important;
		background-position: center center!important;
		margin-bottom: 45px;

	}
}
@media(max-width: 639px){
	.health-risks-grd-wrp li {
		width: 50%;
		margin-bottom: 40px;
	}
	.health-risks-grd-wrp li:nth-child(3n+1){
		clear: initial;
	}
	.health-risks-grd-wrp li:nth-child(2n+1){
		clear: left;
	}
	.health-risks-grd-wrp li:last-child{
		width:100%;
	}
	.health-risks-grd-wrp li:last-child span {
		padding: 0 15px;
		margin-top: 0;
	}
}
@media(max-width: 575px){
	h2{
		font-size: 26px
	}
	h3{
		font-size: 22px
	}

	.hh-ftr-des {
		padding: 0;
	}
	.hh-ftr-top-links-sec ul li a{
		font-size: 20px;
	}
	.hh-ftr-nav ul li {
		padding: 0 20px;
	}
}
@media(max-width: 479px){
	.hh-shipping-progress-bar{
		margin-top: -10px;
	}
	.hh-shipping {
	    margin-left: -15px;
	    margin-right: -15px;
	    padding-bottom: 12px;
	}
	.hh-shipping h4 {
	    font-size: 14px;
	}
	.hh-shipping:before {
	    height: 12px;
	}
	.hh-shipping-col {
	    width: 30%;
	    float: left;
	}
	.hh-shipping-col.two_sec{
	    width: 40%;
	    float: left;
	}
	.hh-shipping-col.two_sec span{
	    display: block;
	}	
	.health-risks-grd-wrp li {
		width: 100%;
	}
	.health-risks-grd-wrp li:nth-child(2n+1){
		clear: initial;
	}
	.health-risks-grd-wrp li a {
		font-size: 17px;
	}
	.health-risks-grd-wrp li:last-child span::after {
		left: -18px;
		width: 17px;
		height: 17px;
	}
	.health-risks-grd-wrp li:last-child span {
		margin-left: 0;
	}
	.special-offer-con {
		padding: 35px 10px 40px;
	}
	.health-risks-grd-wrp {
		padding-top: 20px;
	}
	.hh-health-risks-sec .health-risks-head h2 br {
		display: none;
	}
	.dft-blockquote-row-item blockquote em {
	    font-size: 18px;
	    line-height: 24px;
	    padding-left: 15px;
	    padding-right: 15px;
	}
	.dft-blockquote-ftr {
	    padding: 0;
	    text-align: center;
	}
	.dft-blockquote-ftr span{
		display: block;
		padding-bottom: 5px;
	}
}
@media(max-width: 359px){
	.health-risks-grd-wrp li a {
		font-size: 15px;
	}
	.health-risks-grd-wrp li:last-child span:after {
		width: 18px;
		height: 18px;
		left: -12px;
	}
}
@media(max-width: 335px){
	.hh-shipping-col {
	    width: 27%;
	    float: left;
	}
	.hh-shipping-col.two_sec{
	    width: 46%;
	    float: left;
	}
}